In [66]:
import pandas as pd
import numpy as np

In [2]:
#LOADING DATA INTO PANDAS DF FROM 'zippedData/'
movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv')
imdb_name_basics = pd.read_csv('zippedData/imdb.name.basics.csv')
title_alias = pd.read_csv('zippedData/imdb.title.akas.csv')
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv') #Contains Genre info and Title
title_crew = pd.read_csv('zippedData/imdb.title.crew.csv') #Contains Director ID and Writer ID
title_principals = pd.read_csv('zippedData/imdb.title.principals.csv')
title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv')
movie_info = pd.read_csv('zippedData/rt.movie_info.tsv', sep='\t')
reviews = pd.read_csv('zippedData/rt.reviews.tsv', sep='\t', encoding= 'unicode_escape')
tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv')
movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv')
print('nessisary files loaded into pandas successfully')

nessisary files loaded into pandas successfully

In [88]:
genre_df = title_basics['genres'].str.split(',', expand=True)
genre_df = pd.melt(genre_df)
genre_df.groupby('value').count().sort_values('variable', ascending=False).head(10)

             variable
value
Documentary     51640
Drama           49883
Comedy          25312
Thriller        11883
Horror          10805
Action          10335
Romance          9372
Biography        8722
Crime            6753
Adventure        6465

In [102]:
# col_0_genres = (genre_df[0].unique())
# col_1_genres = (genre_df[1].unique())
# col_2_genres = (genre_df[2].unique())
# genres = list(set(np.concatenate((col_0_genres, col_1_genres, col_2_genres))))
# genres

title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [125]:
# test_join = pd.concat((title_basics.set_index('primary_title'), movie_budgets.set_index('movie')), axis=1, join='inner', keys=('primary_title', 'movie'))
new_df = title_basics.set_index('primary_title').join(movie_budgets.set_index('movie')).sort_values('worldwide_gross').dropna()
new_df['production_budget_int'] = new_df.apply(lambda x: x['production_budget'].strip('$').replace(',',''), axis=1).astype('int')
new_df['worldwide_gross_int'] = new_df.apply(lambda x: x['worldwide_gross'].strip('$').replace(',',''), axis=1).astype('int')
new_df['p_and_l'] = new_df['worldwide_gross_int'] - new_df['production_budget_int']
new_df['norm_roi'] = new_df['p_and_l'] / new_df['production_budget_int']
# new_df.sort_values('worldwide_gross_int', ascending=False).head(10)
new_df.describe()

,start_year,runtime_minutes,id,production_budget_int,worldwide_gross_int,p_and_l,norm_roi
count,3309.000000,3309.000000,3309.000000,3.309000e+03,3.309000e+03,3.309000e+03,3309.000000
mean,2014.091568,97.293140,50.699305,3.335955e+07,9.822055e+07,6.486100e+07,3.316485
std,2.587481,27.529767,28.547505,4.636915e+07,1.965430e+08,1.632466e+08,15.278348
min,2010.000000,1.000000,1.000000,1.400000e+03,0.000000e+00,-2.002376e+08,-1.000000
25%,2012.000000,87.000000,27.000000,4.600000e+06,2.179623e+06,-2.609697e+06,-0.686961
50%,2014.000000,98.000000,51.000000,1.600000e+07,2.685381e+07,7.905107e+06,0.506159
75%,2016.000000,112.000000,75.000000,4.000000e+07,9.765154e+07,5.924081e+07,2.531633
max,2019.000000,360.000000,100.000000,4.250000e+08,2.776345e+09,2.351345e+09,415.564740

In [91]:
# genre_df = title_basics['genres'].str.split(',', expand=True)
title_basics.groupby('start_year').count()

            tconst  primary_title  original_title  runtime_minutes  genres
start_year
2010         11849          11849           11849             9986   11452
2011         12900          12900           12900            10707   12432
2012         13787          13787           13786            11405   13356
2013         14709          14709           14708            12308   14298
2014         15589          15589           15589            12964   15095
2015         16243          16243           16242            13252   15569
2016         17272          17272           17269            13514   16353
2017         17504          17504           17494            13466   16816
2018         16849          16849           16846            12213   16293
2019          8379           8379            8378             4501    8058
2020           937            937             936               82     900
2021            83             83              83                4      83
2022            32             32              32                3      23
2023             5              5               5                0       3
2024             2              2               2                0       1
2025             1              1               1                0       1
2026             1              1               1                0       1
2027             1              1               1                0       1
2115             1              1               1                0       1